<html>
<head>
  <title></title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<!--   <link href='http://fonts.googleapis.com/css?family=Ubuntu:400italic' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
  <div class="container">
    <div class="header">
     <h1>Welcome to # Over!</h1>
   </div>
   <div class="content">
     <p>Hash Over or # Over  is a forum for all you guys to discuss on any topic you fancy!</p>
     <p>You can add or create a new thread and you can post comments on any thread!</p>
     <p>Go ahead and # Over!</p>
   </div>

     <div>
    <form method="POST" action="/threads">
      <fieldset>
        <legend>Create a new thread</legend>
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="user_name_thread" placeholder="User Name">
        <input type="submit" value="Create">
      </fieldset>
    </form>
  </div>

   <div class="threads pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <h3>All Threads</h3>
      <ul>
        <% all.forEach(function(element){ %>
        <li> <a href="/threads/<%= element.id %>"> <%= element.title %></a> </li>
        <% }) %>
      </ul>

    </div>

    <div class="pure-u-1 pure-u-md-1-3">
      <h3>Popular threads</h3>
    </div>

    <div class="pure-u-1 pure-u-md-1-3">
      <h3>Most discussed threads</h3>

    </div>
  </div>



</div>

</body>
</html>